openapi: 3.0.0
info:
  title: Marketing Accounts Jobs API
  description: The documentation for the StackOne Unified API - MARKETING
  contact: {}
  version: 1.0.0
servers:
- url: https://api.stackone.com
tags:
- name: Jobs
paths:
  /unified/ats/jobs:
    get:
      tags:
      - Jobs
      summary: List Jobs
      operationId: ats_list_jobs
      parameters:
      - name: page
        in: query
        description: The page number of the results to fetch
        schema:
          type: string
      - name: page_size
        in: query
        description: The number of results per page
        schema:
          type: string
          default: '25'
      - name: raw
        in: query
        description: Indicates that the raw request result is returned
        schema:
          type: boolean
          default: false
      - name: fields
        in: query
        description: The comma separated list of fields to return in the response (if empty, all fields are returned)
        schema:
          type: string
          default: ''
        example: id,code,title,status,job_status,department_ids,location_ids,hiring_team,confidential,created_at,updated_at
      - name: sync_token
        in: query
        description: The sync token to select the only updated results
        schema:
          type: string
      - name: updated_after
        in: query
        description: Use a string with a date to only select results updated after that given date
        schema:
          type: string
        example: '2020-01-01T00:00:00.000Z'
      - name: proxy
        in: query
        description: Query parameters that can be used to pass through parameters to the underlying provider request by surrounding them with "proxy" key
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: true
        example:
          proxy:
            custom_filter_param: '123'
            filter[eq][name]: Luke
      - name: x-account-id
        in: header
        description: The account identifier
        required: true
        schema:
          type: string
      responses:
        '429':
          description: Too many requests.
        '500':
          description: Server error while executing the request.
        '501':
          description: This functionality is not implemented.
        '200':
          description: The list of jobs was retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsPaginated'
        '400':
          description: Invalid request.
        '403':
          description: Forbidden.
        '412':
          description: 'Precondition failed: linked account belongs to a disabled integration.'
      security:
      - basic: []
      x-speakeasy-group: ats
      x-speakeasy-name-override: list_jobs
  /unified/ats/jobs/{id}:
    get:
      tags:
      - Jobs
      summary: Get Job
      operationId: ats_get_job
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The page number of the results to fetch
        schema:
          type: string
      - name: page_size
        in: query
        description: The number of results per page
        schema:
          type: string
          default: '25'
      - name: raw
        in: query
        description: Indicates that the raw request result is returned
        schema:
          type: boolean
          default: false
      - name: fields
        in: query
        description: The comma separated list of fields to return in the response (if empty, all fields are returned)
        schema:
          type: string
          default: ''
        example: id,code,title,status,job_status,department_ids,location_ids,hiring_team,confidential,created_at,updated_at
      - name: sync_token
        in: query
        description: The sync token to select the only updated results
        schema:
          type: string
      - name: updated_after
        in: query
        description: Use a string with a date to only select results updated after that given date
        schema:
          type: string
        example: '2020-01-01T00:00:00.000Z'
      - name: proxy
        in: query
        description: Query parameters that can be used to pass through parameters to the underlying provider request by surrounding them with "proxy" key
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: true
        example:
          proxy:
            custom_filter_param: '123'
            filter[eq][name]: Luke
      - name: x-account-id
        in: header
        description: The account identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The job with the given identifier was retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResult'
        '400':
          description: Invalid request.
        '403':
          description: Forbidden.
        '412':
          description: 'Precondition failed: linked account belongs to a disabled integration.'
        '429':
          description: Too many requests.
        '500':
          description: Server error while executing the request.
        '501':
          description: This functionality is not implemented.
      security:
      - basic: []
      x-speakeasy-group: ats
      x-speakeasy-name-override: get_job
components:
  schemas:
    Job:
      type: object
      properties:
        department_ids:
          type: array
          items:
            type: string
        id:
          type: string
        title:
          type: string
        job_status:
          $ref: '#/components/schemas/JobStatusEnum'
        hiring_team:
          type: array
          items:
            $ref: '#/components/schemas/HiringTeam'
        location_ids:
          type: array
          items:
            type: string
        code:
          type: string
        company_id:
          type: string
        updated_at:
          type: string
        confidential:
          type: string
          enum:
          - 'true'
          - 'false'
        created_at:
          type: string
      required:
      - id
      - code
      - title
      - company_id
      - department_ids
      - location_ids
      - job_status
      - created_at
      - updated_at
    JobsPaginated:
      type: object
      properties:
        raw:
          type: string
        next_page:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Job'
      required:
      - next_page
      - data
    JobResult:
      type: object
      properties:
        raw:
          type: string
        job:
          $ref: '#/components/schemas/Job'
      required:
      - job
    HiringTeam:
      type: object
      properties:
        email:
          type: string
        role:
          type: string
        user_id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
    JobStatusEnum:
      type: object
      properties:
        value:
          type: string
          enum:
          - published
          - draft
          - pending
          - internal
          - archived
          - closed
          - open
          - unmapped_value
        source_value:
          type: string
      required:
      - value
      - source_value
  securitySchemes:
    basic:
      type: http
      scheme: basic
